body {
    margin: 0px;
    padding: 0px;
  }

header {
    position: sticky;
    background-color: lightgoldenrodyellow;
    margin: 0px;
    padding: 0px;
    overflow: auto;
}

footer{
    background-color: lightgoldenrodyellow;
}

h1 {
    text-align: center;
    font:40px "Times New Roman", serif; 
    background-color: lightcoral;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 5px;
}

h2 {
    text-align: center;
    font-size: 25px;
    font: bold "Times New Roman", serif;
    padding: 0px;
    margin: 0px;
}

.Place{
    font-size: 20px;
    border-style: double;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    margin: 5px;
    margin-top:10px;
}

#MuseumScienceTech{
    font-size: 20px;
}

#MillenniumPark{
    font-size: 20px;
}

#OvenGrinders{
    font-size: 20px;
}

#LincolnParkZoo{
    font-size: 20px;
    padding-bottom: 70px;
}

#UnitedCenter{
    font-size: 20px;
}

ul{
    list-style-type: none;
    margin-top: 1px;
    margin-bottom: 10px;
}

#ZooAnimals li{
    float: left;
    width: 16.6666%;
    /*margin-left: 25px;*/
}

#ZooAnimals li::marker{
    content:"\2713\0020";
}

.Map{
    text-align: center;
    font:36px "Times New Roman", serif; 
    border-style: double;
    border-color: lightcoral;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 5px;
    margin-top:10px;
}

.Misc{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    margin-bottom:15px;
}

.Form{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    margin-top:15px;
    margin-bottom: 40px
}

