body {
    margin: 0px;
    padding: 0px;
  }

header {
    width:100%;
    position: fixed;
    top: 0px;
    background-color: lightcyan;
    margin: 0px;
    padding: 0px;
    overflow: auto;
    text-align: right;
}

footer{
    background-color: lightcyan;
    text-align: right;
}

h1 {
    text-align: center;
    font-size: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: lightpink;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 20px;
}

h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 35px;
    font: bold "Times New Roman", serif;
    padding: 0px;
    margin: 0px;
}

h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
}

.Place{
    font-size: 20px;
    border-style: double;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    margin: 5px;
    margin-top:10px;
}

#MuseumScienceTech{
    font-size: 20px;
}

#MillenniumPark{
    font-size: 20px;
}

#OvenGrinders{
    font-size: 20px;
}

#LincolnParkZoo{
    font-size: 20px;
}

#UnitedCenter{
    font-size: 20px;
}

ul{
    list-style-type: none;
    margin-bottom: 20px;
    padding-bottom: 20px;

}

#ZooAnimals li{
    float: left;
    width: 100%;
}

#ZooAnimals li::marker{
    content:"\2713\0020";
}

.Map{
    text-align: center;
    font:36px "Times New Roman", serif; 
    border-style: double;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 5px;
    margin-top:10px;
}

.Misc{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    margin-bottom:15px;
}

.Form{
    text-align: center;
    font: 20px "Times New Roman", serif; 
    border-style: double;
    padding-top: 10px;
    padding-bottom: 40px;
    margin: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}

a:link {
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    color: blueviolet;
}
  
a:visited {
    color: hotpink;
}

a:hover {
    color: orangered;
}

a:active {
    color: orchid;
}

table{
    width: 25%;
}

table, th, td {
    border:1px solid gray;
    padding: 3px;
}

th{
    font-family: 'Courier New', Courier, monospace;
    background-color: lightcyan;
}

td{
    text-align: center;
}

tr:nth-child(even) { 
    background-color: lightpink; 
} 

tr:nth-child(odd) { 
    background-color: lightskyblue; 
} 

.Intro {
    background-color: whitesmoke; 
}

.Attractions{
    background-color: lightyellow; 
}

.MapandForm{
    background-color: lightblue; 
}